# Sanity (public)
NEXT_PUBLIC_SANITY_PROJECT_ID=REPLACE_ME
NEXT_PUBLIC_SANITY_DATASET=production

# Sanity (server only)
SANITY_API_VERSION=2024-02-01
SANITY_API_TOKEN=
SANITY_WEBHOOK_SECRET=

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
